@font-face {
    font-family: 'Digital7';
    src: url('/mnt/data/digital-7.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    background: #111;
    display: block; /* Ensure the canvas covers the entire screen */
}

#quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00cc33;
    font-size: 24px;
    font-family: 'Digital7', sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00cc33;
}
